@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242323;
    color: #f1f1f1;
    line-height: 1.6;
}

/* Стили для элементов, не управляемых Bootstrap */
.circle-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #d9ff00;
    display: block;
    margin: 20px auto;
    transition: transform 0.4s;
}

.circle-img:hover {
    transform: scale(1.1) rotate(2deg);
}

/*Мобильные*/
body {
    font-size: 14px; 
}
main h1 { 
    font-size: 2rem; 
}
main h2 { 
    font-size: 1.5rem;
}
.card-title { 
    font-size: 1.1rem;
}


/*Планшеты*/
@media (min-width: 768px) {
    body {
        font-size: 16px; 
    }
    main h1 {
        font-size: 3rem;
    }
    main h2 {
        font-size: 2.2rem;
    }
    .card-title {
        font-size: 1.25rem;
    }
}

/*Компьютеры*/
@media (min-width: 1024px) {
    body {
        font-size: 18px; 
    }
    main h1 {
        font-size: 4rem;
    }
    main h2 {
        font-size: 3rem;
    }
    .card-title {
        font-size: 1.4rem;
    }
}

.card-img-top {
    height: 400px; 
    object-fit: cover; 
    width: 100%; 
}

.card-group .card-img-top {
    height: 300px; 
}

.carousel-inner .carousel-item img {
    height: 500px !important;
}

.bestsellers .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    justify-content: center; 
}

.bestsellers .col {
    flex: 0 0 100%; 
    max-width: 100%; 
}

@media (min-width: 768px) {
    .bestsellers .col {
        flex: 0 0 calc(50% - 8px); 
        max-width: calc(50% - 8px); 
    }
}

@media (min-width: 1024px) {
    .bestsellers .col {
        flex: 0 0 calc(33.333% - 11px);
        max-width: calc(33.333% - 11px); 
    }
}